<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passmate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>16</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
				<key>dateExpires</key>
				<string>3/7/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>23.2.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>23.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>30</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_compass.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor_ns.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mapbox_maps_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C12A2FCC41B057308AC35492E578A2FF51607D61</string>
						<key>dateExpires</key>
						<string>3/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S4SV2F6GF6</string>
						<key>name</key>
						<string>Passmate Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S4SV2F6GF6.com.example.letshavesomefun.thisisfun.passmate</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>appclips:com.example.letshavesomefun.thisisfun.passmate.Clip</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>S4SV2F6GF6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6bb0c8f8-1387-43f1-97ff-ced0b23fdf82</string>
				<key>dateExpires</key>
				<string>3/19/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.letshavesomefun.thisisfun.passmate</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S4SV2F6GF6</string>
				<key>name</key>
				<string>Passmate Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3.1</string>
		</dict>
	</array>
</dict>
</plist>
